<p id="notice"><%= notice %></p>


<h1>Película: <%= @movie.name %></h1>

<div class='movie_div'>
<%= image_tag @movie.image, :class => "movie_image" rescue image_tag 'https://previews.123rf.com/images/houbacze/houbacze1709/houbacze170900461/86376823-dise%C3%B1o-plano-rojo-no-encontrado.jpg', :class => "movie_image"%>
</div>

<div class="button_div">
<%= link_to 'Editar', edit_movie_path(@movie) %> |
<%= link_to 'Volver', movies_path %>
</div>