<p id="notice"><%= notice %></p>

<h1>Funciones</h1>

<div class='container' style="height: 500px">
  <div class='row' style="height: 500px">
  <% @movie_instances.each do |movie_instance| %>
          <div class='col-md-2' style="height: 500px">
            <p><%= movie_instance.movie.name %></p>
            <%= image_tag movie_instance.movie.image , :class => "index_image" rescue image_tag 'https://previews.123rf.com/images/houbacze/houbacze1709/houbacze170900461/86376823-dise%C3%B1o-plano-rojo-no-encontrado.jpg', :class => "index_image"%>
            <p>Sala: <%= movie_instance.room.name %></p>
            <p>Día: <%= movie_instance.day %></p>
            <p>Horario: <%= movie_instance.schedule %></p>
            <p><%= link_to 'Ver información', movie_instance, id: movie_instance.movie.name + '_' + movie_instance.day.to_s + '_info' %></p>
            <p><%= link_to 'Editar Película', edit_movie_instance_path(movie_instance), id: movie_instance.movie.name + '_' + movie_instance.day.to_s + '_edit' %></p>
            <p><%= link_to 'Eliminar Película', movie_instance, method: :delete, data: { confirm: 'Estas seguro?' }, id: movie_instance.movie.name + '_' + movie_instance.day.to_s + '_delete' %></p>
          </div>
    <% end %>
  </div>
</div>

<br>
<div class="d-flex justify-content-between w-25 mx-auto">
<br>
<%= link_to 'Nueva Reserva', new_reservation_path, class:"btn btn-success" %>
<%= link_to 'Nueva Función', new_movie_instance_path, class:"btn btn-success" %>
<br>
<%= link_to 'Volver al home', root_path, class:"btn btn-success" %>
</div>
